<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(71, 71, 255);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Commerce</a>
        <div class="collapse navbar-collapse nav-elements" id="navbarSupportedContent">
            <a class="nav-link nav-element" href="/seller/addItem">Add Items</a>
            <a class="nav-link nav-element" href="#">Orders</a>
            <a class="nav-link nav-element" href="#">LogOut</a>
        </div>
    </div>
</nav>