<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/sellerNav.css">
</head>
<body>
    <ul class="topnav">
        <li><a href="/seller" class="brand-logo">E-Commerce</a></li>
        <li><a href="/seller" class="<%= path === '/seller' ? 'active' : '' %> nav-link">Home</a></li>
        <li><a href="/seller/addItem" class="<%= path === '/seller/addItem' ? 'active' : '' %> nav-link" >Add Items</a></li>
        <li><a href="/seller/orders" class="<%= path === '/seller/orders' ? 'active' : '' %> nav-link">Orders</a></li>
        <li class="right"><a href="/sellerAuth/logout" class="nav-link">LogOut</a></li>
    </ul>
</body>
</html>