<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/sellerNav.css">
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="/">E-Commerce</a></li>
        <li><a href="/seller/addItem">Add Items</a></li>
        <li><a href="#">Orders</a></li>
        <li class="right"><a href="#">LogOut</a></li>
    </ul>
</body>
</html>