<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/buyer-login.css">
        <title>Customer Login</title>
    </head>



    <body>
        <img class="wave" src="/asset/wave.png">
        <div class="container">
            
            <div class="img">
                <img src="/asset/ban.svg">
            </div>
            
            <div class="login-content">
                <form action="index.html">

                    <img class ="avtar" src="/asset/avatar.png">
                    <h2 class="heading">Welcome</h2>

                    <div class="input-div one">
                        <div class="i">
                                <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                                <h5>Email Address</h5>
                                <input name="email" type="text" class="input">
                        </div>
                    </div>

                    <div class="input-div pass">
                        <div class="i"> 
                                <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                                <h5>Password</h5>
                                <input name="password" type="password" class="input">
                        </div>
                    </div>  
                    
                    <div class="input-div one">
                        <div class="i">
                                <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                                <h5>Re-enter Password</h5>
                                <input name="repassword" type="text" class="input">
                        </div>
                    </div>

                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="div">
                                <h5>Phone Number</h5>
                                <input name="phoneno" type="text" class="input">
                        </div>
                    </div>

                    <input name="signup" type="submit" class="btn" value="SIGN-UP">
                
                </form>
            </div>
        </div>
        


        
        <script type="text/javascript">
            const inputs = document.querySelectorAll(".input");
            function addcl(){
                let parent = this.parentNode.parentNode;
                parent.classList.add("focus");
            }

            function remcl(){
                let parent = this.parentNode.parentNode;
                if(this.value == ""){
                    parent.classList.remove("focus");
                }
            }


            inputs.forEach(input => {
                input.addEventListener("focus", addcl);
                input.addEventListener("blur", remcl);
            });
        </script>
        
        
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>    
    </body>
</html>