<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/addItem.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(71, 71, 255);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">E-Commerce</a>
        </div>
    </nav>
    <div class="add-Item">
        <div class="uploadImage">
            <div class="slide-container">
            </div>
            <div class="dots-container">
            </div>
            <label for="files" class="upload-btn">Upload Images of Product</label>
            <input id="files" name="image" accept="image/*" style="display:none;" type="file" multiple>
        </div>
        <div class="product-info">
            <div class="input-box">
                <input type="text" name="productName" id="productName" required>
                <label for="productName">Product Name</label>
            </div>
            <div class="input-box">
                <input type="text" name="brandName" id="brandName" required>
                <label for="brandName">Brand Name</label>
            </div>
            <div class="input-box">
                <input type="number" min="1" name="price" id="price" required>
                <label for="price">Price (Rs.)</label>
            </div>
            <div class="input-box">
                <input type="number" min="0" name="discount" id="discount" required>
                <label for="discount">Discount (%)</label>
            </div>
            <div class="input-box">
                <input type="number" min="1" name="numberOfItems" id="numberOfItems" required >
                <label for="numberOfItems">Number of Items</label>
            </div>
            <div class="input-box">
                <input type="text" name="productColour" id="productColour" required>
                <label for="productColour">Product Colour</label>
            </div>
            <div class="inp-box">
                <label for="cars">Category</label>
                <select name="category" id="cars">
                    <option value="grocery">Grocerry</option>
                    <option value="electronics">Electronics</option>
                    <option value="clothing">Clothing</option>
                    <option value="footwear">Footwear</option>
                    <option value="stationary">Stationary</option>
                    <option value="novels">Novels</option>
                    <option value="luggage">Luggage</option>
                    <option value="furniture">Furniture</option>
                    <option value="cosmetics">Cosmetics</option>
                    <option value="medicine">Health And Medicine</option>
                    <option value="games">Games</option>
                    <option value="kitchen">Home And Kitchen</option>
                </select>
            </div>
            <div class="input-box">
                <textarea name="description" id="description" rows="1" required></textarea>
                <label for="description">Product Description</label>
            </div>
        </div>
    </div>
    <button class="add-item-btn">Add Item</button>
    <script>
        
        var currentSlide = 0;
        let slides = document.querySelectorAll(".slide")
        let dots = document.querySelectorAll('.dot')
        const slide_container = document.getElementsByClassName("slide-container")[0];
        const dots_container = document.getElementsByClassName("dots-container")[0];
        document.getElementById("description").addEventListener("input",function(){
            this.style.height = 'auto';
            this.style.height = ((this.scrollHeight)+4) + 'px';
        })

        // code for uploading image
        document.getElementById("files").addEventListener('change',function(){
            if(this.files && this.files[0]){
                let l = this.files.length;
                for (var i = 0; i < l; i++) {
                    var file = this.files[i];
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (e) {
                        let div1 = document.createElement("div");
                        div1.className = "slide fade";
                        let img = document.createElement("IMG");
                        img.setAttribute("src",e.target.result);
                        div1.appendChild(img);
                        slide_container.appendChild(div1);
                        let span1 = document.createElement("span");
                        span1.className = "dot";
                        dots_container.appendChild(span1);
                        slides = document.querySelectorAll(".slide")
                        dots = document.querySelectorAll('.dot')
                        updateListener();
                        showSlide(0);
                    });
                    //Read the image
                    picReader.readAsDataURL(file);
                }
                slide_container.style.display="flex";
            }
        })

        const showSlide = (n) => {
            slides.forEach((slide) => {
                slide.style.display = "none"
                dots.forEach((dot) => {
                   dot.classList.remove("active")
                })
            })
            slides[n].style.display = "block"
            dots[n].classList.add("active")
        }

        const next = () => {
            currentSlide >= slides.length - 1 ? currentSlide = 0 : currentSlide++
            showSlide(currentSlide)
        }

        const prev = () => {
            currentSlide <= 0 ? currentSlide = slides.length - 1 : currentSlide--
            showSlide(currentSlide)
        }

        const updateListener = ()=>{

            dots.forEach((dot, index) => {
                dot.addEventListener("click", () => {
                    showSlide(index)
                    currentSlide = index
                })
            })
        }

    </script>
</body>
</html>