<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/addItem.css">
</head>
<body>
    <nav>
        <div class="logo">E-Commerce</div>
    </nav>
    <div class="add-Item">
        <div class="uploadImage">
            <div class="slide-container">
                <p class="prev">&#10094</p>
                <p class="next">&#10095</p>
            </div>
            <div class="dots-container">
            </div>
            <label for="files" class="upload-btn">Upload Images of Product</label>
            <input id="files" name="image" accept="image/*" style="visibility:hidden;" type="file" multiple>
        </div>
        <div class="product-info">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" id="productName" placeholder="Enter Product Name">
            <label for="brandName">brand Name</label>
            <input type="text" name="brandName" id="brandName" placeholder="Enter Brand Name">
            <label for="price">Price (Rs.)</label>
            <input type="number" min="1" name="price" id="price" placeholder="Enter price of product in Rs">
            <label for="numberOfItems">Number of Items</label>
            <input type="number" min="1" name="numberOfItems" id="numberOfItems" placeholder="Enter Total Number of Product">
            <label for="productColour">Product Colour</label>
            <input type="text" name="productColour" id="productColour" placeholder="Enter Product Color">
            <label for="description">Product Description</label>
            <textarea name="description" id="description" placeholder="Enter Description About the product"></textarea>
        </div>
    </div>
    <button class="add-item-btn">ADD Item</button>
    <script>
        
        var currentSlide = 0;
        let slides = document.querySelectorAll(".slide")
        let dots = document.querySelectorAll('.dot')
        const slide_container = document.getElementsByClassName("slide-container")[0];
        const dots_container = document.getElementsByClassName("dots-container")[0];
        document.getElementById("description").addEventListener("input",function(){
            this.style.height = 'auto';
            this.style.height = Math.max(150,(this.scrollHeight)+4) + 'px';
        })

        // code for uploading image
        document.getElementById("files").addEventListener('change',function(){
            if(this.files && this.files[0]){
                let l = this.files.length;
                for (var i = 0; i < l; i++) {
                    var file = this.files[i];
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (e) {
                        let div1 = document.createElement("div");
                        div1.className = "slide fade";
                        let img = document.createElement("IMG");
                        img.setAttribute("src",e.target.result);
                        div1.appendChild(img);
                        slide_container.appendChild(div1);
                        let span1 = document.createElement("span");
                        span1.className = "dot";
                        dots_container.appendChild(span1);
                        slides = document.querySelectorAll(".slide")
                        dots = document.querySelectorAll('.dot')
                        updateListener();
                        showSlide(0);
                    });
                    //Read the image
                    picReader.readAsDataURL(file);
                }
                slide_container.style.display="flex";
            }
        })

        const showSlide = (n) => {
            slides.forEach((slide) => {
                slide.style.display = "none"
                dots.forEach((dot) => {
                   dot.classList.remove("active")
                })
            })
            slides[n].style.display = "block"
            dots[n].classList.add("active")
        }

        const next = () => {
            currentSlide >= slides.length - 1 ? currentSlide = 0 : currentSlide++
            showSlide(currentSlide)
        }

        const prev = () => {
            currentSlide <= 0 ? currentSlide = slides.length - 1 : currentSlide--
            showSlide(currentSlide)
        }

        const updateListener = ()=>{
            document.getElementsByClassName("prev")[0].addEventListener("click",prev);
            document.getElementsByClassName("next")[0].addEventListener("click",next);

            dots.forEach((dot, index) => {
                dot.addEventListener("click", () => {
                    showSlide(index)
                    currentSlide = index
                })
            })
        }

    </script>
</body>
</html>