<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/seller-dashboard.css">
</head>
<body>
    <nav>
        <div class="logo">E-Commerce</div>
        <div class="option">
            <ul>
                <li><a href="/seller/addItem">Add Items</a></li>
                <li>Booked Order</li>
            </ul>
        </div>
    </nav>
    <h2>Attention</h2>
    <h3>Work In Progress</h3>
    All the user item will shown here.
</body>
</html>