<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/seller-dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <!-- <nav>
        <div class="logo">E-Commerce</div>
        <div class="option">
            <ul>
                <li><a href="/seller/addItem">Add Items</a></li>
                <li>Booked Order</li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(71, 71, 255);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">E-Commerce</a>
            <div class="collapse navbar-collapse nav-elements" id="navbarSupportedContent">
                <a class="nav-link nav-element" href="/seller/addItem">Sell</a>
                <a class="nav-link nav-element" href="#">Orders</a>
                <a class="nav-link nav-element" href="#">LogOut</a>
            </div>
        </div>
    </nav>
    <h2>Attention</h2>
    <h3>Work In Progress</h3>
    All the user item will shown here.
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>