<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/seller.css">
        <title>Dashboard</title>
        <%- include("../partials/sellerNav.ejs") %>
    </head>


    <body>
        <h2>Attention</h2>
        <h3>Work In Progress</h3>
        All the user item will shown here.
    </body>
</html>
