<!-- <!doctype html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sellerDashboard.css">
        <title>Dashboard</title>
        <%- include("../partials/sellerNav.ejs") %>
    </head>


    <body>

        <div class="wrapper">
            <div class="card">
                <div class="in-card">
                    <img src="/images/img1.png" alt={title} class="img"></img>
                    <h3>Product 1</h3>
                    <h3>₹ price</h3>
                    <h3>Quantity sold- 2500</h3>
                    <h3>quantity left- 233</h3>
                </div>
                <div class="for-btn">
                    <button class="cart-btn" > EDIT </button>
                </div>
            </div>


            <div class="card">
                <div class="in-card">
                    <img src="/images/img2.png" alt={title} class="img"></img>
                    <h3>Product 1</h3>
                    <h3>₹ price</h3>
                    <h3>Quantity sold- 250</h3>
                    <h3>quantity left- 233</h3>
                </div>
                <div class="for-btn">
                    <button class="cart-btn" > EDIT </button>
                </div>
            </div>
            <div class="card">
                <div class="in-card">
                    <img src="/images/img3.png" alt={title} class="img"></img>
                    <h3>Product 1</h3>
                    <h3>₹ price</h3>
                    <h3>Quantity sold- 250</h3>
                    <h3>quantity left- 233</h3>
                </div>
                <div class="for-btn">
                    <button class="cart-btn" > EDIT </button>
                </div>
            </div>
            <div class="card">
                <div class="in-card">
                    <img src="/images/img4.png" alt={title} class="img"></img>
                    <h3>Product 1</h3>
                    <h3>₹ price</h3>
                    <h3>Quantity sold- 250</h3>
                    <h3>quantity left- 233</h3>
                </div>
                <div class="for-btn">
                    <button class="cart-btn" > EDIT </button>
                </div>
            </div>
        </div> 
    </body>
</html>
