<body>
    <%- include("../partials/sellerNav.ejs") %>
    <h2 style="margin-top: 2rem;">Attention</h2>
    <h3 style="margin-top: 1rem; margin-bottom: 1rem;">Work In Progress</h3>
    All the user item will shown here.
</body>