<link rel="stylesheet" href="/css/aboutus.css">

<%-include("./partials/customerNav") %>

<body>   
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-3">About Us</h1>
            <h5 class="lead mb-0">Meet the Developers</h5>


        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center">
        <!-- Team members -->

        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="asset/keshav.jpeg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Keshav Agarwal</h5><span>Co-Founder</span>
                <p class="bio">C++ | JavaScript | MySQL | Express | Node.js | HTML | CSS | Flutter | Firebase </p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/The-Keshav-Agarwal" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/keshav-agarwal-84b5221a9/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="asset/darshan.jpeg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Darshan Hande</h5><span>Co-Founder</span>
                <p class="bio">MySQL | Express | Node.js | JavaScript | CSS | HTML | C++ | Flutter | Dart</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/darshanhande11" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/darshan-hande-6a7479128/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/hande_darshan" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/darshanhande11/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="asset/ayush.jpeg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Ayush Patel</h5><span>Co-Founder</span>
                <p class="bio">JavaScript | CSS | HTML | MySQL | Express | Node.js | C++ | Flutter</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/in-ayushpatel" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/inayushpatel/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/inayushpatel/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/in.ayushpatel/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="asset/Abhay.jpeg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Abhay Dwivedi</h5><span>Co-Founder</span>
                <p class="bio">Flutter | Firebase | Java |  C# | HTML | CSS | JavaScript | MySQL | C++</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/dwivedi-abhay" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/abhay-dwivedi-839019204/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/_abhaydwivedi" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/_abhaydwivedi/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- link to out github -->
    <!-- Find the project repository on GitHub at S2Ke4 -->

    <div class="togithub">
        <br>
        <br>

    <h2>Find the project repository on GitHub at s2ke4 </h2>
        <br>
        <li class="list-inline-item"><a target="_blank" href="https://github.com/s2ke4" class="social-main"><i class="ic fa fa-github" style="font-size: 70px;" ></i></i></a></li>
        <br>
        <br>
        <br>        
    </div>

</div>

<script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>

</body>