<link rel="stylesheet" href="/css/aboutus.css">

<%-include("./partials/customerNav") %>

<body>   
    <!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-3">About Us</h1>
            <p class="lead mb-0">The Team</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-7.jpg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Keshav Agarwal</h5><span>CEO - Founder</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis nam nobis dolore? Unde tempora consequuntur accusamus iste quia quibusdam pariatur quae ea sapiente itaque totam, ipsa officiis veritatis ipsum.</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/The-Keshav-Agarwal" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/keshav-agarwal-84b5221a9/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-1.jpg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Darshan Hande</h5><span>CEO - Founder</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis nam nobis dolore? Unde tempora consequuntur accusamus iste quia quibusdam pariatur quae ea sapiente itaque totam, ipsa officiis veritatis ipsum.</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/darshan-hande-6a7479128/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="asset/ayush.jpeg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Ayush Patel</h5><span>CEO - Founder</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis nam nobis dolore? Unde tempora consequuntur accusamus iste quia quibusdam pariatur quae ea sapiente itaque totam, ipsa officiis veritatis ipsum.</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/in-ayushpatel" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/inayushpatel/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/inayushpatel/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/in.ayushpatel/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Abhay Dewedi</h5><span>CEO - Founder</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis nam nobis dolore? Unde tempora consequuntur accusamus iste quia quibusdam pariatur quae ea sapiente itaque totam, ipsa officiis veritatis ipsum.</p>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/abhay-dwivedi-839019204/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>

<script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>

</body>