<html lang="en"></html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/sellerDashboard.css">
    <title>Dashboard</title>
    <%- include("./partials/customerNav.ejs") %>
  </head>

  <body>

    <div class="wrapper">
      <div class="card">
          <div class="in-card">
              <img src="/images/img1.png" alt={title} class="img"></img>
              <h5>Product 1</h5>
              <h5>₹ price</h5>

          </div>
          <div class="for-btn">
              <button class="cart-btn" > Add to Cart </button>
          </div>
      </div>


      <div class="card">
          <div class="in-card">
              <img src="/images/img2.png" alt={title} class="img"></img>
              <h5>Product 1</h5>
              <h5>₹ price</h5>

          </div>
          <div class="for-btn">
              <button class="cart-btn" > Add to Cart </button>
          </div>
      </div>

      <div class="card">
          <div class="in-card">
              <img src="/images/img3.png" alt={title} class="img"></img>
              <h5>Product 1</h5>
              <h5>₹ price</h5>

          </div>
          <div class="for-btn">
              <button class="cart-btn" > Add to Cart </button>
          </div>
      </div>


      <div class="card">
          <div class="in-card">
              <img src="/images/img4.png" alt={title} class="img"></img>
              <h5>Product 1</h5>
              <h5>₹ price</h5>
      
          </div>
          <div class="for-btn">
              <button class="cart-btn" > Add to Cart </button>
          </div>
      </div>


      <div class="card">
        <div class="in-card">
            <img src="/images/img2.png" alt={title} class="img"></img>
            <h5>Product 1</h5>
            <h5>₹ price</h5>
    
        </div>
        <div class="for-btn">
            <button class="cart-btn" > Add to Cart </button>
        </div>
      </div>

      <div class="card">
        <div class="in-card">
          <img src="/images/img1.png" alt={title} class="img"></img>
          <h5>Product 1</h5>
          <h5>₹ price</h5>

        </div>
        <div class="for-btn">
          <button class="cart-btn" > Add to Cart </button>
        </div>
      </div>

      <div class="card">
        <div class="in-card">
            <img src="/images/img2.png" alt={title} class="img"></img>
            <h5>Product 1</h5>
            <h5>₹ price</h5>

        </div>
        <div class="for-btn">
            <button class="cart-btn" > Add to Cart </button>
        </div>
      </div>

      <div class="card">
        <div class="in-card">
            <img src="/images/img1.png" alt={title} class="img"></img>
            <h5>Product 1</h5>
            <h5>₹ price</h5>

        </div>
        <div class="for-btn">
            <button class="cart-btn" > Add to Cart </button>
        </div>
    </div>
    
    <div class="card">
        <div class="in-card">
            <img src="/images/img1.png" alt={title} class="img"></img>
            <h5>Product 1</h5>
            <h5>₹ price</h5>

        </div>
        <div class="for-btn">
            <button class="cart-btn" > Add to Cart </button>
        </div>
    </div>


    </div> 
  </body>
</html>
