body {
    background: #5f2c82; 
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
    background: linear-gradient(to right, #49a09d, #5f2c82); 
}

.social-link {
    display: flex;
    transition: all 0.5s;
    align-items: center;
    font-size: 0.9rem;
    color: rgb(194, 32, 32);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    border: 1px solid #ddd;
}

.social-link:hover, .social-link:focus {
    text-decoration: none;
    color: #555;
    background: #ddd;
}

.togithub{
    color: #000;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.social-main {
    align-items: center;
    color: rgb(230, 18, 18);
    border-radius: 70%;
    width: 70px;
    height: 70px;
    justify-content: center;
    border: 1px solid #ddd;
    display: flex;
    transition: all 0.5s;
    text-decoration: none;
    background: #ddd;
}

.social-main:hover, .social-main:focus {
    text-decoration: none;
    color: #555;
    background: #ddd;
}

.bio {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}