*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
    opacity: .8;
    left: 0;
    width: 40%;
	height: 100%;
	z-index: -1;
    transform: rotate(0deg);
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
    align-items: center;
    align-self: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
    
}

.avtar {
    transform: scale(1.6);
    transition: .5s;

}

.avtar:hover {
    transform: rotate(40deg);
    transform: scale(2);
}


form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.heading{
	margin: 14px 0;
	color: #333;
	font-size: 2rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 5% 96%;
    margin: 20px 0;
    padding: 3px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .5s;
}

.input-div > div{
    position: relative;
	height: 35px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 17px;
	transition: .5s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2   px;
	background-color: #38d39f;
	transition: .5s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #cornflowerblue;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: .8rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 15px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
    margin-top: 20px;
	font-size: 1rem;
	transition: .5s;
}

a:hover{
	color: #38d39f;
    font-size: 1.2rem;
}

.btn{
	display: block;
	width: 100%;
	height: 55px;
	border-radius: 50px;
	outline: none;
	border: none;
	background-color: cornflowerblue;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-color: rgb(100, 149, 237. .8) ;
    font-size: 1.5rem;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}

    .wave{
		width: 50%;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.2rem;
        margin: 8px 0;
	}

    .wave{
		width: 50%;
	}


	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		width: 50%;
	}

	.login-content{
		justify-content: center;
	}
}