*{
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr{
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.increment,.decrement{
    cursor: pointer;
    /* border: 1px solid #323232; */
    padding: 0 5px;
    font-size: 22px;
    text-align: center;
    background-color: dimgray;
}
.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 0px; */
    border: 1px solid #323232;
    width: 100%;
    margin-bottom: 0;
}
.quantity input{
    background-color: transparent;
    border: none;
    text-align: center;
    width: 50%;
    outline: none;
    margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.quan{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100px;
}
.decrement{
    width: 25%;
}
.del{
    color: rgba(255, 0, 0, 0.726);
    cursor: pointer;
    transition: all 1s ease;
}
.del:hover{
    animation: animate 0.5s linear 1;
}
@keyframes animate{
    0%{
        transform: rotate(-30deg) scale(1.2);
    }
    50%{
        transform: rotate(30deg) scale(1.2);
    }
    100%{
        transform: rotate(0deg) scale(1.3);
    }
}
.back,.proceed{
    outline: none;
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 1s ease;
}
.proceed{
    background-color: #323232;
}
.back:hover,.proceed:hover{
    transform: scale(1.1);
}
.major-btn{
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}
.total{
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}
.heading img{
    /* display: inline; */
    height: 100%;
}
.heading{
    display: flex;
    margin: 20px;
    height: 80px;
    align-items: center;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
.back a,.proceed a,.proceed a:hover,.back a:hover{
    color: white;
}
.move-to-wishlist{
    background-color: transparent;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    border-radius: 4px;
    padding:4px;
}
.move-to-wishlist:hover{
    background-color:#0d6efd;
    color: white;
}
.empty-cart{
    text-align: center;
    margin: 50px 0;
}