*{
    margin:0;
    padding: 0;
}
nav{
    background-color: cornflowerblue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    font-size: 25px;
}
nav .option ul{
    list-style-type: none;
    display: flex;
}
nav .option ul li{
    padding: 0 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}