

.wrapper{
    padding: 40px;
    display:grid;
    grid-gap: 3rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}


h3{
    font-size: 1.1rem;
}

.wrapper .card {
    padding: 10px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    border: 10px solid #fff;
    transition: .5s ease;
}

.card:hover{
    border: 1px solid black;
}

.in-card{
    text-align: center;
}

.img{ 
    display: block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.for-btn{
    display: flex;
    justify-content: center;
}


.cart-btn{
    margin-top: 10px;
    background-color: rgb(117, 155, 218);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: all .2s ease;
    color: #fff;
    outline: none;
}

.cart-btn:hover{
    background-color: #89ABE3FF;
    color: rgb(0, 0, 0);
}

.linktoinfo{
    text-decoration: none;
    color: black;
}
