<%- include('../partials/customerNav') %>
<link rel="stylesheet" href="/css/errorPlacingOrder.css">

<body>
    <div class="thanks">
        <center class="heading">
            An error occured while placing your order!
        </center>
        <center class="heading">
            It seems a seller does not have enough stock to take your order!
        </center>
    </div>
    

    <div class="discover">
        <a href="/buyer" class="btn btn-primary btn-lg">Discover More</a>
    </div>
    

</body>