<%- include("../partials/customerNav") %>
<body>
    <div>
        <p>Total Amount 10,000</p>
        <p>Shipping 50</p>
        <p>Total = 10050</p>
    </div>
    <div class="address">
        <textarea name="address"></textarea>
        <div>
            <input type="text">
            <label for="">City</label>
        </div>
        <div>
            <input type="text">
            <label for="">pincode</label>
        </div>
        <div>
            <input type="text">
            <label for="">State</label>
        </div>
        <div>
            <input type="text">
            <label for="">Country</label>
        </div>
    </div>
    <div>
        <h4>Please Choose Payment Method</h4>
        <div>COD</div>
        <div>Card</div>
    </div>
</body>