<title>Order Details</title>
<link rel="stylesheet" href="/css/yourOrders.css">

<%- include("../partials/customerNav.ejs") %>

<body>
    
    <h6 class="back-div"><a href="/buyer/yourOrders" class="back-link">< Back to Your Orders</a></h6>
    <h5 class="heading">Order Number : 23873</h5>
    <h5 class="heading">Order Date : 03/03/2021</h5>
    <h5 class="heading">Shipped to : A-10 904 Millenium Towers CHS. LTD., Sector -10, Sanpada, Navi Mumbai, Maharashtra - 400705</h5>
    <h5 class="heading">Tracking Status : Dispatched ✔️</h5>

    <table>
        <tr>
          <th>Item Name</th>
          <th>Item Quantity</th>
          <th>Price per Item</th>
          <th>Total Price</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>9</td>
          <td>10</td>
          <td>90</td>
        </tr>
      </table>
      <h4 class="heading">Total Price paid : 540</h4>
      <h5 class="heading">Payment Mode : UPI ✔️</h5>
    
      <!-- Footer -->
    <footer class="bg-dark text-center text-white">
       
        <div class="container p-4">

            <section class="mb-4" style="padding-top: 2rem; padding-bottom: 2rem;">
                <h2>
                    E-Commerce
                </h2>
                
            </section>
            
            <section>
                <div class="row">
                <div class="col">
                    <img src="/asset/truck-1.jpg" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                    <h5 style="padding-top: 1rem;">Fast and Free Delivery *</h5>
                </div>
                <div class="col">
                    <img src="/asset/easy-returns.png" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                    <h5 style="padding-top: 1rem;">Easy Returns within 15 days</h5>
                </div>
                <div class="col">
                    <img src="/asset/customercare.png" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                    <h5 style="padding-top: 1rem;">24 x 7 Customer Support</h5>
                </div>
                </div>
            </section>

            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-sm btn-outline-light text-center" style="margin: 2rem;">About Us</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-sm btn-outline-success" style="margin: 2rem;">Support Us</a>
                </div>
                <div class="col">
                    <a href="mailto:doubtbin@gmail.com" class="btn btn-sm btn-outline-primary" style="margin: 2rem;">Contact Us</a>
                </div>
            </div>

            <p style="color: grey; font-size: 0.75rem;">*Delivery is free for orders above ₹499/-</p>

        </div>

    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
        <a class="text-white" href="https://github.com/s2ke4">S2KE4</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>