<link rel="stylesheet" href="/css/yourOrders.css">
<title>Orders</title>

<body>
    <%- include('../partials/customerNav') %>
    <h2 class="heading">Your Orders</h2>

    <div class="search">
      <form class="d-flex sbar">
        <input class="search-bar-box form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary btn-outline-primary search-btn" type="submit">Search</button>
      </form>
    </div>

    <table>
        <tr>
          <th class="orderNum">Order No.</th>  
          <th class="orderItems">Ordered Items</th>
          <th class="orderDate">Date</th>
          <th class="dispatch">Dispatched</th>
          <th class="price">Total Price</th>
          <th class="details">View Details</th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <%for(let i = 0;i < 11; i++) { %>
              <div class="item">
                Item <%= i %> <br>
              </div>
              <% if(i>2) 
                { %>
                  <div class="item"><a href="yourOrders/yourOrderDetails">View All</a></div>
                <% break; } %>
              <% } %>
          </td>
          <td>31/02/2020</td>
          <td>✔️</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
        <tr>
            <td>2</td>
          <td>Centro comercial Moctezuma</td>
          <td>31/02/2020</td>
          <td>✔️</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
        <tr>
            <td>3</td>
          <td>Ernst Handel</td>
          <td>31/02/2020</td>
          <td>⏳</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
        <tr>
            <td>4</td>
          <td>Island Trading</td>
          <td>31/02/2020</td>
          <td>⏳</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
        <tr>
            <td>5</td>
          <td>Laughing Bacchus Winecellars</td>
          <td>31/02/2020</td>
          <td>✔️</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
        <tr>
            <td>6</td>
          <td>Magazzini Alimentari Riuniti</td>
          <td>31/02/2020</td>
          <td>⏳</td>
          <td>10</td>
          <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
        </tr>
      </table>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer -->
</body>